.background{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#009688 15%, #DBDBD2 15%);
}

.background .ct-container{
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    height: 90%;
    background-color: white;
    padding: 0;
}

.contacts{
    width: 35%;
    min-width: 200px;
    height: 100%;
}

.chat{
    width: 65%;
    min-width: 450px;
    height: 100%;
}

.contacts .header{
    height: 60px;
    background-color: #EAEAEA;
    border: 1px solid #E2E2E2;
}

.contacts .header .myProfile img{
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.contacts .header .settingsMyProfile i{
    color: #B1B1B1;
    font-size: 18px;
    cursor: pointer;
}

.contacts .notifications{
    height: 60px;
    background-color: #8EDAFC;
}

.contacts .notifications i{
    background-color: white;
    padding: 12px;
    border-radius: 50px;
    color: #8EDAFC;
    margin-left: 18px;
    cursor: pointer;
    
}

.contacts .notifications div span{
    display: block;
    font-size: 13px;
    margin-left: 10px;
}

.contacts .notifications div span:first-of-type{
    font-weight: bold;
}

.contacts .notifications div span:last-of-type{
    color: #6681A2;
    text-decoration: underline;
    cursor: pointer;
}

.contacts .research{
    height: 50px;
    background-color: #ECECEC;
}

.contacts .research .input-group{
    size: 10px;
}

.contacts .contactsDiv{
    height: calc(100% - 170px);
    overflow-y: scroll;
    background-color: #FFFFFF;
}

.chat .header{
    height: 60px;
    background-color: #EAEAEA;
    border: 1px solid #E2E2E2;
}

.chat .header .contactProfile img{
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.chat .header .contactProfile .infoContact span{
    font-size: 14px;
    color: #6681A2;
}

.chat .header .settingContactProfile i{
    color: #B1B1B1;
    font-size: 18px;
    cursor: pointer;
}

.chat .chatDiv{
    height: calc(100% - 120px);
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
}

.chat .footer{
    height: 60px;
    background-color: #F3EEEA;
    border: 1px solid #E2E2E2;
}

.chat .footer i{
    color: #6B7376;
    font-size: 20px;
    cursor: pointer;
}

